.login-background {
    background: url('assets/img/witpoeder-2048x1363.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-form {
    display: inline-block;
}