.login-background {
    background: url('../img/login-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.button-form {
    display: inline-block;
}

.dtsb-search {
    @extend .btn;
    @extend .btn-primary;
}